@import '../../variables';

$height-header: 25px;
$height-picture: 100px;
$height-summary: 25px;
$height-card: $height-header + $height-picture + $height-summary;

.sticker-card {
  width: 125px;
  height: $height-card;
  border: 1px solid $colour-tone-darker;

  .header {
    height: $height-header;

    .button {
      border: none;
      height: $height-header;
      width: 20%;
      background-color: $colour-tone;
    }

    .status {
      display: inline-block;
      width: 60%;
      text-align: center;
    }
  }

  .picture {
    height: 100px;
    background-color: $colour-secondary;

    .number {
      color: white;
      font-size: 50px;
      line-height: $height-picture;
      text-align: center;
    }
  }

  .summary {
    border-top: 1px solid $colour-tone-darker;
    text-align: center;
    line-height: $height-summary;
    padding: 0 $padding-smaller;
    overflow: hidden;
    text-overflow: ellipsis;;
    white-space: nowrap;
  }

}