@import '../../variables.scss';

.friends.content {
  position: absolute;
  bottom: 0;
  top : 60px;
  width: 100%;

  .top, .bottom {
    height: 50%;
    padding: 20px;
  }

  .searchTop {
    top: 0;
    height: 70px;
  }

  .searchBody {
    height: calc(100% - 70px);
  }

  ul {
    list-style-type: none;

    &.friendList, &.friendRequestList, &.searchResults {
      .friend, .friendRequest, .searchResult {
        font-size: 20px;
        margin: 15px 0;

        .button {
          margin: 0 5px;
          padding: 5px 20px;
          background-color: $colour-primary;
          border-radius: 3px;
          color: white;

          &:hover {
            background-color: $colour-primary-darker;
            cursor: pointer;
          }
        }
      }
    }

    &.friendRequestList {
      width: 100%;

      .friendRequest {
        width: 100%;

        .name {
          display: inline-block;
        }

        .buttonSection {
          display: inline-block;
          position: absolute;
          right: 0;
        }
      }
    }

    &.searchResults {
      margin-top : 20px;

      .searchResult {
        font-size: 20px;
        .sendRequest {
          color: tomato;
        }
        .name {
          margin-left: 20px;
        }
      }
    }
  }
}